<html>
<head>
  <title>Register</title>
</head>
<body>
  <h1>Register</h1>
  <form action="/register" method="post">
    <div class="inputBox">
      <label>Username</label>
      <input type="text" name="username">
    </div>
    <div class="inputBox">
      <labeL>Email</label>
      <input type="text" name="email">
    </div>
    <div class="passwordBox">
      <label>Password</label>
      <input type="password" name="password">
    </div>
    <div class="passwordBox">
      <label>Confirm Password</label>
      <input type="password" name="confirmPassword">
    </div>
    <div class="submitButton">
      <input type="submit" name="" value="">
    </div>
  </form>
</body>
